<IfModule mod_rewrite.c>
RewriteEngine on
RewriteOptions InheritDown
RewriteCond %{REQUEST_URI} !/
RewriteRule (.*) byp/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
  ErrorDocument 404 error.php
</IfModule>
